<div class="container">
  <div class="text-center mb-5">
    <div class="relative card-container orange-container md:p-5">
      <h2 class="text-center mb-5">Angular Login with Google</h2>
      <router-outlet>
        <div class="static bg-orange-100 font-bold text-gray-900 border-round p-4" style="min-width: 300px; min-height: 200px;">
          <p>Home</p>
          <div class="action-buttons-container">
            <p>texto qualquer da home</p>
            <nav>
              <ul>
                <button pButton label="Pessoa" class="p-button-outlined" icon="pi pi-add" [routerLink]="['/person']" ></button>
              </ul>
            </nav>
          </div>
        </div>
      </router-outlet>
    </div>
  </div>
</div>
