<p>login works!</p>
<button type="button" pButton label="login" (click)="loginWithGoogle()"></button>
<div class="google-card">
  <div id="g_id_onload"
     data-client_id="12345"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="login"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
</div>

