li {
  list-style: none;
  cursor: pointer;
  position: relative;
  color: #1c94cb;
}

li:hover::before {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #465359;
  right: 0;
  bottom: -10px;
  color: #465359;
}

.logoDiv a{
  list-style: none;
  cursor: pointer;
  position: relative;
  text-decoration: underline;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
}

.titulo-navbar-top{
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  color: #000;
  font-size: 14px;
}
